.text {
  /* want to figure out drop shadow on text */
  font-family: 'Monoton';
  font-size: 200px;
  color: #CDD7D6;
  position: absolute;
  top: 200px;
  right: 100px;
}

.css {
  height: 800px;
  background: 
    repeating-radial-gradient(
      circle at 0 0, 
    #F87060, 
    #102542 50px
    );
}